<h1>Jelly Bean Flavor</h1>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitFormBeanFlavor()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Flavor Name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="FlavorName"
        placeholder="Chocolate Bar"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="Description"
        placeholder="Delicious Chocolate"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Ingredients</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="Ingredients" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 16, offset: 8 }"
    >
      <button nz-button nzType="primary" class="submit_btn">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>

<app-bean-flavor-update
  *ngIf="selectedBeanFlavor"
  [beanFlavor]="selectedBeanFlavor"
  (productUpdated)="onBeanFlavorUpdated()"
></app-bean-flavor-update>
<app-bean-flavor-list
  (productSelected)="editBeanFlavor($event)"
></app-bean-flavor-list>
