<h1>Products</h1>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitFormBeanFlavor()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Flavor Name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="FlavorName" placeholder="CARAMEL CORN" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="Description"
        placeholder="A partnership made in heaven. Sweet caramel and buttery popcorn."
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Ingredients</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="Ingredients"
        placeholder="SUGAR, CORN SYRUP, MODIFIED FOOD STARCH, CONTAINS 2% OR LESS OF THE FOLLOWING: NATURAL AND ARTIFICIAL FLAVORS, COLOR ADDED, YELLOW 6, YELLOW 5 & 6 LAKE, BLUE 2 LAKE, BEESWAX, CARNAUBA WAX, CONFECTIONER'S GLAZE, SALT."
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 16, offset: 8 }"
    >
      <button nz-button nzType="primary" class="submit_btn">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>

<app-bean-flavor-list
  (productSelected)="editBeanFlavor($event)"
></app-bean-flavor-list>

<app-bean-flavor-update
  *ngIf="selectedBeanFlavor"
  [beanFlavor]="selectedBeanFlavor"
  (productUpdated)="onBeanFlavorUpdated()"
></app-bean-flavor-update>
