.submit_btn {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 12.5vh;

}

.submit_btn:hover {
  background-color: #007bff;
  color: #f8f9fa;
}