<h1>Create Jelly Bean Flavor</h1>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitFormBeanFlavor()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Flavor Name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="FlavorName"
        placeholder="CINNAMON"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="Description"
        placeholder="The perfect combination of sugar and spice. These beans have just the right amount of cinnamon to make them a sweet treat for all."
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Ingredients</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="Ingredients" placeholder="SUGAR, CORN SYRUP, MODIFIED FOOD STARCH, CONTAINS 2% OR LESS OF THE FOLLOWING: ARTIFICIAL FLAVOR, COLOR ADDED, RED 40, RED 40 LAKE, TURMERIC (COLOR), BEESWAX, CARNAUBA WAX, CONFECTIONER'S GLAZE."/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 16, offset: 8 }"
    >
      <button nz-button nzType="primary" class="submit_btn">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>

<app-bean-flavor-update
  *ngIf="selectedBeanFlavor"
  [beanFlavor]="selectedBeanFlavor"
  (beanFlavorUpdate)="onBeanFlavorUpdated()"
></app-bean-flavor-update>

<app-bean-flavor-list
  (selectedBeanFlavor)="editBeanFlavor($event)"
></app-bean-flavor-list>
